
<header ng-include="'./views/templates/partials/header.html'"></header>

<section class="complete-container">
  <h1> Completed </h1>
  <img ng-src="../../assets/images/icons/check.ico">
  <h2> Success! </h2>
  <p>
    Your submissions have been sent to an Anna's Bananas representitive for final processing.
    Thank you!
  </p>
  <div>
    <a href="https://www.instagram.com/annasbananasdaycare/" tooltips tooltip-template="Instagram"><img ng-src="../../assets/images/icons/insta-white.ico"></a>
    <a href="https://www.facebook.com/annasbananasdaycare/" tooltips tooltip-template="Facebook"><img ng-src="../../assets/images/icons/facebook-white.ico"></a>
    <a href="http://www.annasbananas.com/" tooltips tooltip-template="Anna's Bananas Website"><img ng-src="../../assets/images/icons/website-white.ico"></a>
    <a href="http://www.annasbananas.com/locations/" tooltips tooltip-template-url="./views/templates/tooltips/locations-tooltip.html"><img ng-src="../../assets/images/icons/location-white.ico"></a>
  </div>
</section>

<footer ng-include="'./views/templates/partials/footer.html'"></footer>
