
<header ng-include="'./views/templates/partials/header.html'"></header>

<section class="landing-container">
  <h1>Welcome!</h1>
  <div>
    <h5>Welcome to Anna's Bananas Daycare and Preschool and Congratulations on accepting a new position, we look forward to having you as an integral part of our team. </h5>
    <p>You are about to begin filling out all of the necessary paperwork to begin your employment with Anna's Bananas Daycare and Preschool, please be mindful of the following information:</p>
    <ul>
      <li>This packet, in its entirety must be filled out and submitted prior to your scheduled Orientation date</li>
      <li>Once your Employment packet is completed and received, you must complete Pediatric First Aid from the link provided to you by the Human Resources team and bring that to your Orientation date. If you arrive at your Orientation and any information is missing (Employment packet submission and/or Pediatric First Aid) you will not be permitted to complete your Orientation and will need to reschedule for a time when you can provide the necessary information</li>
      <li><strong>It is critical</strong> that you read through each portion very carefully and ensure that you understand all of the materials that are provided to you as you will be acknowledging that you have read, understand and agree to comply with the information via electronic signature</li>
      <li>The application will not let you continue until you have filled out each and every required field. If you get to the end of a page and it will not allow you to continue, it is important to carefully review the document to look for the red error messages that say you are missing information and correct that</li>
      <li>Please allow yourself a minimum of 45 minutes to complete the entire process, this time may vary from individual to individual</li>
      <li>When you reach the end of the document a submit button will appear. Once you hit this button, an electronic version of your employment information will be delivered to the Human Resources Department who will move forward with your paperwork</li>
    </ul>
    <p>We look forward to being apart of your successes as you embark on this journey with our Company!</p>
  </div>
  <span><a ng-href="#!/form-one"><button type="button"> START </button></a></span>
</section>

<footer ng-include="'./views/templates/partials/footer.html'"></footer>
